p{
    background-color: gray;
    color:indigo;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: cornflowerblue;
    color:black;
    font-family:'Times New Roman', Times, serif;
}
a{
    background-color: rgb(168, 118, 216);
    color: rgb(15, 15, 44);
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
